@import '/src/styles/utils/variables';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100vh;
  z-index: 1000;

  .modal {
    width: 560px;
    padding: 40px 80px;
    color: $color-black;
    background-color: $color-white;
    box-shadow: 6px 4px 28px 0px rgba(34, 60, 80, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__profile {
      left: auto;
      right: 0 !important;
      height: 100vh;
      justify-content: left !important;
    }
  }

  .btnClose {
    font-size: 20px;
    position: absolute;
    top: 21.5px;
    right: 24px;
    cursor: pointer;
    color: $color-gray;
  }
}

@media (max-width: 2000px) {
  .overlay {
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
      &__profile {
        left: auto;
        right: 0 !important;
        height: 100vh;
        justify-content: left !important;
      }
    }
  }
}
