@import '/src/styles/utils/_variables';

.profile {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 40px 80px 40px 80px;

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: $color-black;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    &__item {
      padding: 16px 20px;
      border: 0.5px solid $color-main-15;

      &__link {
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
      }

      &_active {
        background-color: $color-main-05;
        border: none;
        border-bottom: 2px solid $color-main;
      }
    }
  }

  &__personal {
    display: flex;
    flex-direction: column;

    &__title {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      line-height: 16.41px;
      color: $color-gray;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &__form {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;

      &__label {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        width: 400px;
        height: 100%;
        margin-bottom: 0;
        position: relative;

        &__input {
          width: 100%;
          height: 100%;
          padding: 16px;
          color: $color-black;
          background-color: $color-white;
          outline: none;
          border: 1px solid $color-gray-07;

          &__eye_icon {
            color: $color-gray;
            z-index: 1;
            width: 15px;
            height: 15px;

            position: absolute;
            top: 16px;
            right: 16px;

            cursor: pointer;
          }
        }
      }

      &__icon {
        width: 40px;
        height: 40px;
        border: 1px solid $color-gray-07;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
      }

      &__submit {
        font-size: 14px !important;
        line-height: 16.94px;
        width: 160px;
        height: 40px;
      }
    }
  }

  &__favorite {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;

    &__item {
      display: flex;
      flex-direction: column;
      width: 302px;
      height: 519px;
      justify-content: space-between;
      position: relative;
      &__icon {
        color: $color-gray;

        &__wrapper {
          position: absolute;
          top: 16px;
          right: 16px;
          height: 36px;
          width: 36px;
          background-color: $color-white;
          border: 0.3px solid $color-gray;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      &__icon:hover {
        color: $color-black;
      }

      &__image {
        width: 100%;
        height: 369px;
        cursor: pointer;
      }

      &__subtitle {
        color: $color-gray;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.36px;
      }

      &__title {
        color: $color-black;
        font-weight: 400;
        font-size: 20px;
        line-height: 24.2px;
        cursor: pointer;
      }

      &__price {
        color: $color-black;
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
      }

      &__button {
        width: 100%;
        height: 40px;
        font-size: 14px !important;
      }
    }
  }
}
