@import '/src/styles/utils/_variables';

.header {
  height: 128px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 23px 80px 23px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    text-transform: uppercase;

    &__list {
      display: flex;
      list-style: none;
      flex-direction: row;

      &__item {
        padding-right: 32px;
        text-wrap: nowrap;
      }
    }
  }

  &__right {
    display: flex;

    &__form {
      width: 328px;
      height: 48px;
      margin-right: 8px;
      border: 1px solid rgba(28, 27, 31, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &__input:focus {
        outline: none;
      }

      &__input {
        color: rgba(0, 0, 0, 0.5);
        border: none;
        width: 280px;
        padding-left: 10px;
      }

      &__icon {
        width: 24px;
        height: 24px;
        color: rgba(217, 217, 217, 1);
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 30px;

      &__switch {
        text-wrap: nowrap;
        margin-left: 40px;

        span {
          color: $color-main;
        }
      }

      &__cart {
        display: flex;
        position: relative;

        &__quantity {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-main;
          color: $color-white;
          font-size: 8px;
          line-height: 9.38px;
          width: 12px;
          height: 12px;
          border-radius: 12px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }

  &__slider {
    width: 100%;
    margin: 0 auto;
  }

  .nav_icon {
    height: 24px;
    width: 24px;

    color: $color-black;
    cursor: pointer;
  }

  .nav_icon:hover {
    color: $color-main;
  }
}
