@import "/src/styles/utils/_variables";

.header {
  height: 128px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 23px 80px 23px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    text-transform: uppercase;

    &__list {
      display: flex;
      list-style: none;
      flex-direction: row;

      &__item {
        padding-right: 32px;
        text-wrap: nowrap;
        cursor: pointer;
      }
    }
  }

  &__right {
    display: flex;

    &__form {
      width: 328px;
      height: 48px;
      margin-right: 8px;
      border: 1px solid rgba(28, 27, 31, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &__input:focus {
        outline: none;
      }

      &__input {
        color: rgba(0, 0, 0, 0.5);
        border: none;
        width: 280px;
        padding-left: 10px;
      }

      &__icon {
        width: 24px;
        height: 24px;
        color: rgba(217, 217, 217, 1);
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
      font-weight: 400;

      &__message {
        position: absolute;
        top: 45px;
        right: -20px;
        color: $color-main;
        background-color: rgba(25, 108, 103, 0.05);
        width: 184px;
        height: 40px;
        border-radius: 12px;
        border: 1px solid rgba(25, 108, 103, 1);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;

        &__title {
          font-size: 12px;
          line-height: 14.52px;

          &_italic {
            font-style: italic;
          }
        }

        &__text {
          font-size: 10px;
          line-height: 12.1px;
        }
      }

      &__switch {
        text-wrap: nowrap;
        margin-left: 40px;

        span {
          color: $color-main;
        }
      }

      &__cart {
        display: flex;
        position: relative;

        &__quantity {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-main;
          color: $color-white;
          font-size: 12px;
          line-height: 9.38px;
          width: 20px;
          height: 20px;
          border-radius: 12px;
          position: absolute;
          top: -8px;
          right: -6px;
        }
      }
    }
  }

  &__slider {
    width: 100%;
    margin: 0 auto;
  }

  .nav_icon {
    height: 24px;
    width: 24px;

    color: $color-black;
    cursor: pointer;
  }

  .nav_icon:hover {
    color: $color-main;
  }

  .nav_profile_icon {
    padding: 11px;
    height: 48px;
    width: 48px;
    color: $color-main;
    background-color: $color-main-15;
    border-radius: 50%;
    cursor: pointer;
  }
}
