@import "styles/utils/variables";

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 80px;
}

// Slider
.slider_embla {
  display: flex;
  justify-content: center;
}

.embla {
  overflow: hidden;
  margin-bottom: 80px;

  &__container {
    width: 1280px;
    display: flex;
  }

  // Arrows
  &__prev {
    height: 30px;
    width: 80px;
    color: black;
    cursor: pointer;
    margin-top: 169px;
  }

  &__next {
    height: 30px;
    width: 80px;
    color: black;
    cursor: pointer;
    margin-top: 169px;
  }
}
