.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &__top {
    font-weight: 600;
    font-size: 56px;
  }

  &__bottom {
    font-weight: 400;
    font-size: 14px;
    text-wrap: nowrap;
  }
}
