.categories {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 143px;
  padding-right: 143px;
  padding-top: 24px;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__item:hover {
      background-color: rgba(25, 108, 103, 0.15);
      animation-timing-function: ease-in-out;
      animation-duration: 100ms;
      border: 1px solid transparent;
    }

    &__item {
      align-content: center;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 12px 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      min-width: 90px;
      color: rgba(0, 0, 0, 1);
      font-family: Inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 16.36px;
      white-space: no-wrap;
      cursor: pointer;

      &__active {
        background-color: rgba(25, 108, 103, 0.15);
        border: 1px solid transparent;
      }
    }
  }
}
