.categories {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 206px;
  padding-right: 206px;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__item:hover {
      background-color: #196c67;
      color: #ffffff;
    }

    &__item {
      align-content: center;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 12px 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      min-width: 90px;
      color: rgba(0, 0, 0, 1);
      font-family: Inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 16.36px;
      white-space: no-wrap;
      cursor: pointer;
    }
  }
}
