@import "/src/styles/utils/variables";

.error {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 475px;
        
    &__title_number {
        color: $color-main;
        font-size: 128px;
        line-height: 150px;
        margin-top: 55px;
    }

    &__title {
        color: $color-main;
        font-size: 28px;
        line-height: 32.81px;
    }

    &__text {
        margin-top: 49px;
        color: $color-black;
        opacity: 0.8;
        font-size: 14px;
        line-height: 16.41px;
        text-align: center;
        width: 462px;
    }

    &__list {
        list-style:disc;
        color: $color-black;
        opacity: 0.8;
        font-size: 14px;
        line-height: 16.94px;
    }

    &__button {
        margin-top: 22px;
        width: 100%;
        height: 48px;
    }

    }
}