@import 'styles/utils/variables';

.product {
  margin: 40px 80px 0px 80px;
  font-family: 'Inter';
  position: relative;
  overflow: hidden;


  &__bread {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
  }

  &__main {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;

    &__slider {
      text-align: center;
      min-width: calc(510px + (72px + 72px)); // 72px arrow slider

      margin-right: 72px;
      width: 35.417vw;
      position: relative;

      &__arrow_next__wrapper {
        height: 100%;
        width: 72px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 11;
        display: flex !important;
        justify-content: center;
        align-items: center;
      }

      &__arrow_prev__wrapper {
        height: 100%;
        width: 72px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 11;
        display: flex !important;
        justify-content: center;
        align-items: center;
      }

      &__arrow_prev {
        content: url(../../../public/img/arrowLeft.svg);
      }

      &__arrow_next {
        content: url(../../../public/img/arrowRight.svg);
      }

      &__image {
        padding-left: 72px;
        padding-right: 72px;
        width: 35.417vw;
        height: 44.444vw;
        padding-bottom: 64px;
        max-height: 640px;
      }
    }

    &__item {
      width: 100%;
      display: flex;
      flex-direction: column;

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        &__author {
          font-weight: 400;
          font-size: 16px;
          line-height: 19.36px;
          color: rgba(149, 149, 149, 1);
        }

        &__quantity {
          font-weight: 400;
          font-size: 14px;
          line-height: 16.94px;
          color: rgba(30, 113, 52, 1);
          padding: 4px 12px 4px 12px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          text-wrap: nowrap;
          justify-content: center;
          display: flex;
          align-items: center;
        }
      }

      &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26.63px;
        color: rgba(0, 0, 0, 1);
        margin-top: 0;
        margin-bottom: 16px;
      }

      &__price {
        font-weight: 600;
        font-size: 22px;
        line-height: 26.63px;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 56px;
      }

      &__text {
        margin-right: 79px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.94px;
        color: rgba(28, 27, 31, 1);
        margin-bottom: 56px;
      }
      &__active {
        display: flex;
        flex-direction: row;
        margin-bottom: 69px;
        &__cart {
          height: 56px;
          width: 100%;
          margin-right: 23px;
          cursor: pointer;
        }
        &__favorite {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          cursor: pointer;
        }
      }

      &__dropdown {
        display: flex;
        flex-direction: column;
        margin-right: 79px;
        font-family: 'Inter';

        &__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 48px;
          margin-bottom: 16px;
          cursor: pointer;
          align-items: center;

          &__title {
            font-weight: 400;
            font-size: 18px;
            line-height: 21.78px;
            color: rgba(0, 0, 0, 1);
          }

          &__button {
            font-weight: 400;
            font-size: 20px;
            line-height: 24.2px;
            color: rgba(28, 27, 31, 1);
          }
        }

        &__hiden {
          &__text {
            font-weight: 400;
            font-size: 12px;
            line-height: 14.52px;
            color: rgba(28, 27, 31, 1);
          }
          &__characteristics {
            font-weight: 400;
            font-size: 12px;
            line-height: 14.52px;
            color: rgba(28, 27, 31, 1);
            width: 100%;

            tr {
              height: 31px;
            }

            &__right {
              text-align: right;
            }
          }
          &__order {
            display: flex;
            flex-direction: column;
            &__item {
              font-weight: 400;
              font-size: 12px;
              line-height: 14.52px;
              color: rgba(0, 0, 0, 1);
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
