@import 'styles/utils/variables';

.order {
  margin-left: 80px;
  margin-top: 40px;
  font-family: 'Roboto';
  width: 845px;

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: $color-black;
  }

  &__subtitle {
    display: block;
    margin-top: 56px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    color: $color-black;
  }

  &__contacts {
    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 16.94px;
      color: $color-black;
    }

    &__block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 16px;

      &__label {
        display: flex;
        flex-direction: column;

        &__title {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.41px;
          color: $color-black;
        }

        &__block {
          width: 100%;
          border: 1px solid $color-gray;
          position: relative;

          &__input {
            width: 90%;
            border: none;
            padding: 16px;
            outline: none;
          }
        }
      }

      .input_box_error {
        width: 100%;
        border: 1px solid $color-red;
        position: relative;

        input {
          width: 90%;
          border: none;
          padding: 16px;
          outline: none;
        }
      }

      .checkbox_container {
        display: flex;
        flex-direction: row;

        span {
          font-size: 14px;
          margin-left: 8px;
        }

        .checkbox {
          accent-color: $color-main;
          width: 16px;
          height: 16px;
          margin: 0;
        }
      }
    }
  }

  &__delivery {

    &__block {
      &__label {
        display: flex;
        flex-direction: column;

        &__title {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.41px;
          color: $color-black;
        }
        &__block {
          width: 100%;
          position: relative;

          &__input {
            width: 100%;
            border: none;
            padding: 16px;
            outline: none;
            border: 1px solid $color-gray;
            position: relative;

            &_arrow {
              width: 24px;
              height: 24px;
              position: absolute;
              top: 12px;
              right: 12px;
            }
          }
          
          &__list {
            border: none;
            max-height: 480px;
            width: 100%;

            &__item {
              height: 40px;
              width: 100%;
              font-weight: 400;
              font-size: 14px;
              line-height: 16.41px;
              color: $color-black;
              padding-left: 16px;
              border-left: 1px solid $color-gray;
              border-right: 1px solid $color-gray;
              border-bottom: 1px solid $color-gray;
              display: flex;
              align-items: center;
            }

            &__item:hover {
              background-color: rgb(221, 233, 232);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
