@import '/src/styles/utils/_variables.scss';

.order {
  margin-left: 80px;
  margin-top: 40px;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: $color-black;
    margin-bottom: 16px;
  }

  &__forms {
    font-family: 'Roboto';
    width: 845px;
    margin-bottom: 80px;
    margin-right: 28px;
  }

  &__subtitle {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    color: $color-black;
  }

  &__contacts {
    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 16.94px;
      color: $color-black;
    }

    &__block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 16px;
      margin-right: 13px;

      &__label {
        display: flex;

        &__title {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.41px;
          color: $color-black;
        }

        &__block {
          width: 100%;
          border: 1px solid $color-gray;
          position: relative;

          &__input {
            width: 90%;
            border: none;
            padding: 16px;
            outline: none;
          }
        }
      }

      .input_box_error {
        width: 100%;
        border: 1px solid $color-red;
        position: relative;

        input {
          width: 90%;
          border: none;
          padding: 16px;
          outline: none;
        }
      }

      .checkbox_container {
        display: flex;
        flex-direction: row;

        span {
          font-size: 14px;
          margin-left: 8px;
        }

        .checkbox {
          accent-color: $color-main;
          width: 16px;
          height: 16px;
          margin: 0;
        }
      }
    }
  }

  &__delivery {
    &__block {
      &__label {
        display: flex;
        flex-direction: column;

        &__title {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.41px;
          color: $color-black;
        }
        &__block {
          width: 100%;
          position: relative;

          &__input {
            width: 100%;
            border: none;
            padding: 16px;
            outline: none;
            border: 1px solid $color-gray;
            position: relative;
            padding-right: 40px;

            &_arrow {
              width: 24px;
              height: 24px;
              position: absolute;
              top: 12px;
              right: 12px;
            }
          }

          &__list {
            border: none;
            max-height: 480px;
            width: 100%;

            &__item {
              height: 40px;
              width: 100%;
              font-weight: 400;
              font-size: 14px;
              line-height: 16.41px;
              color: $color-black;
              padding-left: 16px;
              border-left: 1px solid $color-gray;
              border-right: 1px solid $color-gray;
              border-bottom: 1px solid $color-gray;
              display: flex;
              align-items: center;
            }

            &__item:hover {
              background-color: rgb(221, 233, 232);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__payment {
    &__label {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__text {
        margin-left: 12px;
        color: $color-black;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.52px;
      }

      &__input {
        display: none;
      }
    }
  }

  &__comment {
    &__subtitle {
      margin-top: 40px;
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16.94px;
    }

    &__input {
      border: 1px solid rgba(149, 149, 149, 0.7);
      height: 147px;
      width: 100%;
      color: $color-gray;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.41px;
      padding: 16px;
      text-justify: inter-word;
      font-family: 'Roboto';
      resize: none;
    }

    &__input:focus {
      outline: none;
    }
  }

  &__items {
    background-color: $color-main-05;
    width: 411px;
    padding: 24px;
    margin-top: 75px;
    margin-bottom: 4px;

    &__title {
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16.94px;
      color: $color-black;
    }

    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__text {
        font-weight: 600;
        font-size: 12px;
        line-height: 14.52px;
        color: $color-black;
        text-transform: uppercase;
      }
    }
  }

  &__confirm {
    background-color: $color-main-05;
    width: 411px;
    padding: 24px;
    display: flex;
    flex-direction: column;

    &__dash {
      width: calc(100% + 37px);
      height: 1px;
      background-color: $color-white;
      margin-top: 24px;
      margin-bottom: 24px;
      margin-left: -18px;
    }

    &__promo {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 12px;
      line-height: 14.52px;
      color: $color-black;
      margin-bottom: 16px;

      &_form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__input {
          border: 1px solid $color-gray;
          height: 40px;
          width: 170px;
          padding-left: 6.8px;
        }

        &__input::placeholder,
        &__input:focus {
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 10px;
          line-height: 11.72px;
          color: $color-gray;
          outline: none;
        }

        &__button {
          border: 1px solid $color-main;
          height: 40px;
          width: 169px;
          color: $color-main;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 12px;
          line-height: 14.06px;
          background-color: $color-white;
        }

        &__button:hover {
          background-color: $color-main;
          color: $color-white;
        }
      }
    }

    &__total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 500;
      font-size: 12px;
      line-height: 14.52px;
      color: $color-black;
      margin-bottom: 8px;
      font-family: 'Inter';
    }

    &__note {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 10px;
      line-height: 12.1px;
      color: $color-gray;
    }

    &__offer {
      font-weight: 400;
      font-size: 12px;
      line-height: 14.52px;
      color: $color-black;

      &__green {
        color: $color-main;
        cursor: pointer;
        text-decoration: none;
      }
    }

    &__call {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 25px;

      &__text {
        margin-left: 14px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14.52px;
        color: $color-black;
        font-family: 'Inter';
      }
    }

    &__button {
      padding-top: 15.5px;
      padding-bottom: 15.5px;
      margin: 0auto;
      font-size: 14px !important;
    }
  }
}
