// COLORS
$color-main: rgba(25, 108, 103, 1);
$color-main-hover: rgba(25, 108, 103, 0.15);
$color-accent: rgba(234, 67, 53, 0.7);

$color-black: rgba(28, 27, 31, 1);
$color-gray: rgba(149, 149, 149, 1);
$color-white: rgba(255, 255, 255, 1);

$color-red: rgba(234, 67, 53, 1);
$color-green: rgba(52, 168, 83, 1);
$color-yellow: rgba(251, 188, 5, 1);
