.breadcrumbs {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #1c1b1f;
  margin-right: 4px;

  ul {
    list-style: none;
    display: flex;
    a {
      text-decoration: none;
      color: #1c1b1f;
    }
    li {
      a:hover {
        color: #196c67;
      }
    }
    li:last-child {
      a {
        color: #196c67;
      }
    }
  }

  .separator {
    margin: 4px;
  }
}

.breadcrumbs:last-child {
  color: #196c67;
}
