@import "/src/styles/utils/variables";

.block {
  display: flex;
  font-size: 14px;
  margin-top: 24px;

  .link {
    color: $color-main;
    margin-left: 8px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
