@import "/src/styles/utils/variables";

.error_message_container {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;

  position: relative;

  .error_message {
    font-size: 10px;
    color: $color-red;
  }

  .error_info {
    color: $color-red;
    cursor: pointer;
  }
}

// #my-tooltip {
//   background-color: red;
//   width: 300px;
//   border: 2px solid blue;
//   border-radius: 20px;
// }
