@import "styles/utils/variables";

.indicator_list {
  display: flex;
  flex-direction: row;

  .indicator {
    margin: 8px 0;
    width: 33.33%;
    border-bottom: 2px solid rgba(217, 217, 217, 1);
  }

  .weak {
    border-bottom: 2px solid $color-red;
  }

  .medium {
    border-bottom: 2px solid $color-yellow;
  }

  .strong {
    border-bottom: 2px solid $color-green;
  }
}

.message_box {
  display: flex;
  align-items: center;
  font-size: 14px;

  position: relative;
}
.red_message {
  color: $color-red;
}

.yellow_message {
  color: $color-yellow;
}

.green_message {
  color: $color-green;
}

.error_info {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
}
