@import './styles/utils/variables';
@import './styles/utils/typography';
@import './styles/utils/reset-styles';

body {
  font-family: 'Roboto', sans-serif;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.button:hover {
  background-color: rgba(25, 108, 103, 0.7);
}

.button {
  background-color: $color-main;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.button--active:hover {
  background-color: rgba(28, 27, 31, 0.7);
}

.button--active {
  background-color: rgba(28, 27, 31, 1);
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: $color-white;
  color: #111;
  font-size: 16px;
  position: absolute;
  padding: 1px 8px 2px;
  bottom: -1.6em;
  left: 20%;
  white-space: nowrap;
  opacity: 0;
  border: 1px solid $color-gray;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

.line {
  background-color:#95959580;
  height: 1px;
  width: 100%;
  display: block;
  margin-bottom: 80px;
}