@import 'styles/utils/variables';

section {
  margin: 0 auto;
  margin-bottom: 80px;

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  ul {
    width: 88.88vw;
    height: 467px;
  }

  .book_box {
    // max-width: 302px;
    width: 302px;
    height: 467px;

    .text_info {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-size: 16px;
        color: $color-gray;
      }

      h3 {
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
      }

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
