@import "styles/utils/variables";

section h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 80px;
}

// Slider
.slider_embla {
  display: flex;
  justify-content: center;
}

.embla {
  overflow: hidden;
  margin-bottom: 80px;

  &__container {
    width: 1280px;
    display: flex;
  }

  &__slide {
    flex: 0 0 302px;
    min-width: 0;

    width: 302px;
    height: 467px;
    color: $color-black;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 24px;
  }

  // Arrows
  &__prev,
  &__next {
    height: 30px;
    width: 80px;
    color: black;
    cursor: pointer;
    margin-top: 169px;
  }
}

// inside BOOK
.book_item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.book_image {
  width: 302px;
  height: 368px;
  margin-bottom: 16px;
}

.text_info_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-size: 16px;
    color: $color-gray;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
  }

  span {
    font-size: 20px;
    font-weight: 600;
  }
}
