.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__text {
        margin-top: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.41px;
        color: rgba(43, 43, 43, 1);
    }
}